body {
  margin: 0;
  min-height: 100vh;
  background: 473E66;
background: linear-gradient(0deg,rgba(0, 0, 0, 0.98) 2%, rgba(189, 131, 184, 1) 53%, rgba(241, 145, 109, 1) 100%);
  font-family: "Garamond", serif;
}